.createcontainer {
  height: calc(100vh - 60px);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 5rem;
  margin-top: 3.5rem;
  margin: 110px 0px;
}

.createwrapper {
  display: flex;
  flex-direction: column;
  border: 1px solid #444;
  border-radius: 22px;
  padding: 1.5rem;
}

.createtitle {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 32px;
  font-weight: bold;
}

.createinputWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 0.5rem;
}

.createinputWrapper > label {
  margin-right: 15px;
  width: 33%;
}

.createinputWrapperImage {
  width: 400px;
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.createinputWrapperImage span {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: teal;
  color: #fff;
  border: 1px solid transparent;
  cursor: pointer;
  transition: 150ms all;
  border-radius: 16px;
  margin: 0.1rem 4.75rem;
}

.createinputWrapperImage span:hover {
  background-color: #fff;
  color: teal;
  border-color: teal;
}

.imageName {
  position: absolute;
  right: 30rem;
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
}

.closeIcon {
  cursor: pointer;
  font-size: 16px;
}

.createinput {
  padding: 0.5rem;
  width: 77.5%;
  border-radius: 8px;
  border: 1px solid rgb(170, 165, 165);
}

.createinput:focus {
  outline: none;
  border-color: rgb(99, 92, 92);
}

.createbuttonWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 6px;
}

.createsubmitBtn {
  width: 50%;
  background-color: #cea600;
  color: #fff;
  padding: 0.75rem 1.25rem;
  border-radius: 12px;
  border: 1px solid transparent;
  cursor: pointer;
  transition: 150ms all;
  margin-top: 1rem;
}

.createsubmitBtn:hover {
  background-color: #fff;
  color: #cea600;
  border-color: #cea600;
}

@media (max-width: 768px){
  .createcontainer{
    margin-top: 150px;
  }
}
@media (max-width: 425px){
  .createcontainer{
    margin-top: 250px;
  }
  .createwrapper{
    max-width: 400px;
  }
}
@media (max-width: 375px){
  .createcontainer{
    margin-top: 250px;
  }
  .createwrapper{
    max-width: 330px;
  }
}
@media (max-width: 320px){
  .createcontainer{
    margin-top: 250px;
  }
  .createwrapper{
    max-width: 300px;
  }
}